
kaggle.json
*.jpg
Data/datasets/FashionMNIST/raw/t10k-images-idx3-ubyte
*.gz
Data/datasets/FashionMNIST/raw/t10k-labels-idx1-ubyte
Data/datasets/FashionMNIST/raw/train-images-idx3-ubyte
Data/datasets/FashionMNIST/raw/train-labels-idx1-ubyte
*.JPEG
*.zip
*.tgz
Class/Class - 3/.DS_Store
.DS_Store
*.csv
.DS_Store
Class/.DS_Store
*.ckpt
.DS_Store
*.pyc
*.json
*.log
*hparams.yaml
*config.yaml
*.wandb
*.pyc
*.pyc
Data/MNIST/raw/train-images-idx3-ubyte
*.pyc
Data/logs/wandb/latest-run
Data/logs/wandb/run-20231031_201717-x25m0qe4/files/conda-environment.yaml
Data/logs/wandb/*
Data/logs/wandb/latest-run
Data/logs/wandb/latest-run
*.meta
Custom_files/cifar-10-batches-py/data_batch_1
*.html
Custom_files/cifar-10-batches-py/data_batch_2
Custom_files/cifar-10-batches-py/data_batch_3
Custom_files/cifar-10-batches-py/data_batch_4
Custom_files/cifar-10-batches-py/data_batch_5
Custom_files/cifar-10-batches-py/test_batch
HW/cifar10/cifar-10-batches-py/data_batch_1
HW/cifar10/cifar-10-batches-py/data_batch_2
HW/cifar10/cifar-10-batches-py/data_batch_3
HW/cifar10/cifar-10-batches-py/data_batch_4
HW/cifar10/cifar-10-batches-py/data_batch_5
HW/cifar10/cifar-10-batches-py/test_batch
Data/logs/wandb/latest-run
.Rhistory
Data/cifar-10-batches-py/data_batch_1
Data/cifar-10-batches-py/data_batch_2
Data/cifar-10-batches-py/data_batch_3
Data/cifar-10-batches-py/data_batch_4
Data/cifar-10-batches-py/data_batch_5
Data/cifar-10-batches-py/test_batch
.DS_Store
**/.DS_Store
*.pth
HW/Harikrishna_Dev_HW_8b.ipynb
